
<!-- code de la barre de recherche -->

<nav class="navbar navbar-expand-lg navbar-light btn-success">
  <h4><span>Barre de recherche</span></h4>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> </ul>

            <mat-form-field color="accent">
                <input  matInput [matDatepicker]="picker1" placeholder="Choisissez date de début">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field color="warn">
                <input matInput [matDatepicker]="picker2" placeholder=" Choisissez date de fin ">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <button class="btn btn-primary my-2 my-sm-0" type="submit">Rechercher </button>

    </div>
</nav>


<!-- fin du code de la barre de recherche-->



<!-- debut code du side nav-->

<mat-sidenav-container class="sidenav-container">


    <mat-sidenav #drawer mode="over"  opened="false" role="navigation" class="sidenav" fixedInViewport>
        <mat-toolbar>Choisissez une zone</mat-toolbar>

        <mat-form-field>
            <h5><strong> <mat-label>Zone: </mat-label></strong></h5>
            <mat-select [(value)]="selectedValue" (selectionChange)="getZoneById($event)">
                <mat-option *ngFor="let zone of listzone" value="{{ zone.id }}">{{ zone.nomzone }}</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="selectedValue">

            <strong><h4><p class="text-info"><u>Informations de la zone </u></p></h4></strong>

            <!-- code du tableau-->
            <cdk-virtual-scroll-viewport itemSize="100" class="container" >
                <table id="contentToConvert">
                <ul class="list-group">
                    <li class="list-group-item"> <strong>Nom Zone:</strong> {{ zone?.nomzone}}</li>
                    <li class="list-group-item"> <strong>Couverture: </strong> {{ zone?.couverture}}</li>
                    <li class="list-group-item"> <strong>Population:</strong> {{ zone?.population}}</li>
                    <li class="list-group-item"> <strong>Cadastre: </strong>{{ zone?.cadastre}}</li>
                    <li class="list-group-item"> <strong>BTS: </strong>
                        <ul *ngFor="let bts of zone.bts">
                            <li> Etat: {{ bts.etat}}</li>
                            <li> Puissance: {{ bts.puissance}}</li>
                        </ul>
                    </li>
                </ul>
                </table>


                <!--<mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="classtable">
                    &lt;!&ndash; Propriete Column &ndash;&gt;
                    <ng-container matColumnDef="nomzone"  >
                        <mat-header-cell *matHeaderCellDef> Nom Zone </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{zone.nomzone}} </mat-cell>
                    </ng-container>

                    &lt;!&ndash; valeur Column &ndash;&gt;
                    <ng-container matColumnDef="population">
                        <mat-header- *matHeaderCellDef> Populations </mat-header->
                        <mat-cell *matCellDef="let element"> {{zone.population}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="cadastre">
                        <mat-header-cell *matHeaderCellDef> Cadastre </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{zone.cadastre}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="couverture">
                        <mat-header-cell *matHeaderCellDef> Couverture </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{zone.couverture}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>-->

            </cdk-virtual-scroll-viewport>
                        <p></p>
                      <!--  <button (click)="deleteZone($event)"> supprimer </button>


                        <button [routerLink]="['/createzone']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span class="d-none d-md-inline">Creerzone</span>
                        </button>

                        <button [routerLink]="['/share']" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">editzone</span>
                        </button>


                        <button class="btn btn-success btn-sm"
                            (click)="ConvertDataToPdf()">
                            <fa-icon [icon]="'download'" ></fa-icon>
                            <span class="d-none d-md-inline">Telecharger</span>
                        </button>-->

                       <button class="btn btn-outline-danger btn-sm"
                            (click)="ShareWithEmail()">
                            <fa-icon [icon]="'envelope'" ></fa-icon>
                            <span class="d-none d-md-inline">envoi mail</span>
                       </button>

                <!--<button class="btn btn-outline-primary btn-sm"
                        (click)="ShareData()">
                    <fa-icon [icon]="'envelope'" ></fa-icon>
                    <span class="d-none d-md-inline">Partager</span>
                </button>-->

        </div>
        <!-- fin code tableau-->

    </mat-sidenav>


    <!-- fin code du side nav-->


    <!-- debut code 2eme bar de menu -->
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">swap_horizontal_circle
                </mat-icon>
            </button>
            <span>Appli Atos</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <ng-content></ng-content>
    </mat-sidenav-content>

    <!-- fin bar de menu-->

</mat-sidenav-container>

<!--fin code du side nav -->
